<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/dashboard.css">
<%- include('includes/nav.ejs') %>
    </head>

<body>
    <h1>Dashboard</h1>
    <h2 id="username"><%= user.email %></h2>
    <section class="high-scores-container">
        <h1 id="high-score-title">High Scores</h1>
        <h2 class="drill-name">What's Your Hand?</h2>
        <div class="high-score-container" id="whats-your-hand-container">
            <p class="game-mode blitz">Blitz:</p> <p class="game-mode-score"><%= user.WYHblitzHighScore %></p>
            <p class="game-mode survival">Survival:</p> <p class="game-mode-score"><%= user.WYHsurvivalHighScore %></p>
        </div>

        <h2 class="drill-name">Showdown</h2>
        <div class="high-score-container" id="showdown-container">
            <p class="game-mode blitz">Blitz:</p> <p class="game-mode-score"><%= user.blitzHighScore %></p>
            <p class="game-mode survival">Survival:</p> <p class="game-mode-score"><%= user.survivalHighScore %></p>
            <% 
                let twHighScore;
                if (user.twentyHandsHighScore === 10000) {
                    twHighScore = "Not Played Yet";
                } else {
                    let m = parseInt(user.twentyHandsHighScore / 60, 10);
                    let s = parseInt(user.twentyHandsHighScore % 60, 10);
                    s = s < 10 ? "0" + s : s;
                    twHighScore = m + ":" + s
                }
            %>
            <p class="game-mode twenty-hands">20-Hands:</p> <p class="game-mode-score"><%= twHighScore %></p>
        </div>
    </section>
    <script src="/js/shared.js"></script>
</body>